a {
  color: black;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
}

.navbar-brand {
  color: black;
  margin-left: 10%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.navbar-brand:hover {
  color: white;
  background-color: black;
}

.navbar-nav {
  margin-right: 10%;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.25rem;
  border: 1px solid black;
}

.navbar-nav:hover {
  background-color: black;
  border: 1px solid white;
}

.navbar-nav:hover .nav-link {
  color: white;
  /* Fixing in progress */
}

#listing-btn {
  border: 1px white solid;
  color: black;
  overflow: hidden;
  white-space: nowrap;
}

#listing-btn:hover {
  color: white;
  background-color: black;
}

#intro {
  padding-top: 7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: whitesmoke;
  text-align: center;
}

#intro-index {
  padding-top: 7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  background-image: url("../photo-1516156008625-3a9d6067fab5.jpeg");
  background-size: cover;
  text-align: center;
}

#intro p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  font-size: 1.25rem;
  padding-bottom: 5%;
}

#intro-index p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  font-size: 1.25rem;
  padding-bottom: 5%;
}

@media (max-width: 650px) {
  #email-btn {
    margin-top: 20px;
  }
}

#search {
  padding-left: 1rem;
  padding-right: 1rem;
}

#search h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#search .cities {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#search p {
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}

#newsletter {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  padding-bottom: 4rem;
  background-image: url("../florian-wehde-lY87gHWdGNo-unsplash.jpg");
  background-size: cover;
}

#newsletter h2 {
  padding-top: 2rem;
  margin-bottom: 2rem;
  color: white;
}

footer {
  margin-top: 1rem;
  padding-top: 1rem;
  background-color: whitesmoke;
}

footer #contents {
  margin-left: 10%;
  margin-right: 10%;
}

#house-display {
  margin-left: 10%;
  margin-right: 10%;
}

#house-results {
  margin-bottom: 1rem;
}

#house-filter {
  margin-bottom: 1rem;
}

#house-filter-content p {
  margin-bottom: 0;
}

#listing-info {
  padding-left: 1rem;
  padding-right: 1rem;
}

#poster-info {
  display: inline-block;
  background-color: whitesmoke;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

#poster-info p {
  padding-bottom: 0;
}

#poster-info a {
  color: black;
}

#reveal-btn {
  cursor: pointer;
}

#quick-info,
#house-filter-content {
  background-color: whitesmoke;
  padding-left: 1rem;
  padding-right: 1rem;
}

#price-sort,
#area-sort {
  padding-left: 1rem;
  padding-right: 1rem;
}

#form1 {
  margin-left: 20%;
  margin-right: 20%;
}

.listing-title {
  line-height: 1.5rem;
  max-height: 3rem;
  overflow: hidden;
}
.row {
  padding: 0px 0px 20px 0px;
}

#images {
  padding-bottom: 20px;
}
#head3 {
  padding-top: 20px;
}
#basic-information {
  padding-bottom: 20px;
}
