.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.navbar-brand {
  color: black;
  margin-left: 10%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.navbar-brand:hover {
  color: white;
  background-color: black;
}

.navbar-nav {
  margin-right: 10%;
}

#listing-btn {
  border: 1px white solid;
  color: black;
  overflow: hidden;
  white-space: nowrap;
}

#listing-btn:hover {
  color: white;
  background-color: black;
}

#intro {
  padding-top: 7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  /* background-image: url("https://previews.123rf.com/images/samiramay/samiramay1801/samiramay180100055/94119309-black-and-white-pirate-map-with-old-sailing-ships-compass-fantasy-creatures-treasure-islands-hand-dr.jpg"); */
  background-color: whitesmoke;
  text-align: center;
}

#intro p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  font-size: 1.25rem;
  padding-bottom: 5%;
}

footer {
  padding-top: 1rem;
  background-color: whitesmoke;
}

footer #contents {
  margin-left: 10%;
  margin-right: 10%;
}
